:root {
    --primary-color: rgb(107, 107, 180);
    --hover-color: rgb(70, 70, 119);
    --font-color: rgb(83, 82, 82);
}

/* RESET CSS */
/* https://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: var(--font-color);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general */

html {
    background-image: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,h2,h3,h4,h5 {
    font-weight: 100;
}

/* nav */

.nav {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid 1px rgb(214, 214, 214);
    color: var(--font-color);
    padding-right: 10px;
    position: absolute;
    height: 100px;
    z-index: 100;

}

/* logo */

.navlogo {
    display: flex;
    gap: 10px;
}

.navlogoimg {
    height: 90px;
    margin-left: 10px;
}

.navlogotitle {
    align-self: center;
}

.navlinks a {
    color: var(--font-color);
}

/* navlinks */

.navlinks { 
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: 30px;
}

.navlinks li:hover {
    display: inline-block;
    background-color: var(--primary-color);
    transition: 0.3s ease;
}

.navlinks li {
    padding: 10px;
}

.navselected {
    padding-bottom: 3px;
    border-bottom: 4px solid var(--primary-color);
}

/* responsive menu */

input[type=checkbox]{
    display: none;
} 

input[type=checkbox]:checked ~ .navlinks{
    display: block;
}

.navtoggle {
    color: var(--font-color);
    font-size: 10vw;
    margin-right: 10px;
    display: block;
}

@media (min-width: 768px) {
    .navlinks {
        position: relative;
        display: flex;
        gap: 1em;
        font-size: 18px;
    }

    .navlinks li:hover {
        background-color: var(--primary-color);
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .navtoggle {
        display: none;
        font-size: 24px;
        user-select: none;
        cursor: pointer;
    }
}

/* content */

.content {
    z-index: 1;
    margin-top: 100px;
    padding: 2vw;
}

@media (min-width: 768px) {
    .content {
        padding: 2vw 5vw;
    }
}

/* formularios */

input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=radio] {
    margin: 4px 0;
  }

  input[type=submit] {
    transition: 0.3s;
  }
  
  input[type=submit]:hover {
    background-color: var(--hover-color);
  }
