.content {
    background-color: white;
    opacity: 90%;
}

.seccion li {
    list-style-type: square;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer img {
    width: 200px;
}

@media (min-width: 768px) {
    .footer img {
        width: 500px;
    }
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

@keyframes progresshtml {
    0% { width: 0; }
    60% { width: 60%; }
} 

@keyframes progrescss {
    0% { width: 0; }
    50% { width: 50%; }
} 

@keyframes progressjs {
    0% { width: 0; }
    20% { width: 20%; }
} 

.skill {
    text-align: right;
    color: white;
    padding-right: 10px;
}
  
.html {transition : width 5s ease; background-color: #04AA6D; animation: progresshtml 3s ease-in-out;}
.css {transition : width 5s ease; background-color: #2196F3; animation: progrescss 3s ease-in-out;}
.js {transition : width 5s ease; background-color: #f44336; animation: progressjs 3s ease-in-out;}
